# Ignore virtual environment directory
.venv/
env/
venv/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore editor/IDE specific files
.vscode/
.idea/

# Ignore database file
*.db

# Ignore data files that can be regenerated
*.csv

# Ignore Rasa specific files/directories that can be regenerated
.rasa/
models/

# Ignore logs and temporary files
*.log
*.tmp